@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');
*{
    font-family: 'Noto Sans', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
.contenedor {
    width: 1280px;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

h1, h3, h4 {
    color: #343a40;
}

.card {
    list-style: none;
    width: 800px;
    padding: 15px;
    margin: 0;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card > li {
    padding: 5px;
    border-bottom: 1px solid #dee2e6;
}

.linkbtn {
    text-decoration: none;
    color: #007bff;
}

.edit {
    background-color: #007bff;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.log {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    
}

.log > a {
    text-decoration: none;
    font-family: 'Noto Sans';
    background-color: #dc3545;
    color: #f8f9fa;
   
}
.complete{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;  
    color: #828282;
    font-family:  'Noto Sans';
    font-size: 14px;
}

.pc {
    padding-left: 530px;
}

.photo {
    width: 50px;
    height: 50px;
}

.lis {
    display: flex;
}

.profile {
    display: flex;
    justify-content: space-between;
}

.profile > section > p {
    color: #828282;
    font-size: 13px;

}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    font-size: 18px;
}

.titulo > p {
    margin-top: 15px;
    font-size: 15px;

}

.arribita {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
}